<br />
<h2>
    ABOUT
    <small>
        <a href="/Home/AdminPage" class="btn btn-primary pull-right" role="button" aria-pressed="true" title="Go Back to Home Page">< < Back</a>
    </small>
</h2>
<hr />
<p>
    <h3>MEMBERS</h3>
    <br />
    <h5>* ANTOLIN, Arryll Mori</h5>
    <h5>* ANTONIO, Marlon</h5>
    <h5>* DE PANO, Claudette Jean</h5>
    <h5>* JAWOD, Danielle Nicole</h5>
    <h5>* REYES, Jean Marc</h5>
    <h5>* SANTOS, Denzel Antoinette</h5>
    <br /><br />
    <h5>
        This program is to be submitted to Engr. Meo Vincent Caya, which is a requirement for COE131L 2nd Quarter of SY1819. 
    </h5>
</p>
