<br />
<h2>
    CONTACT
    <small>
        <a href="/Home/AdminPage" class="btn btn-primary pull-right" role="button" aria-pressed="true" title="Go Back to Home Page">< < Back</a>
    </small>
</h2>
<hr />
<p>
    <h4>Do not contact us.</h4>
</p>